services:
  data-store:
    image: "samply/blaze:0.22"
    environment:
      BASE_URL: "http://localhost:8082"
      JAVA_TOOL_OPTIONS: "-Xmx1g"
      LOG_LEVEL: "debug"
    ports:
    - "8082:8080"
    volumes:
    - "data-store-data:/app/data"
volumes:
  data-store-data: